html, body {
  height: 100%; /* Make sure the page takes full height */
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the .App div takes full viewport height */
}

.App > * {
  flex-shrink: 0; /* Prevent shrinking */
}

.Home {
  flex-grow: 1; /* This ensures the home component will take the remaining space */
}

.Footer {
  background-color: #2e313a;
  padding: 15px 0;
  text-align: center;
  color: white;
}
